.button,.button svg{
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.button.--primary{
    padding: 15px 21px;
    border-radius: 7px;
    background-color: var(--headerBackground);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid transparent;
}

.button.--upload{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 12px;
    color: var(--headerBackground);
    font-size: 14px;
    font-weight: 600;
}

.button.--primary:hover{
    background-color: #fff;
    color: var(--headerBackground);
    border-color: var(--headerBackground);
}

.button.--upload:hover svg{
    transform: translateX(7px);
}

.button.--view{
    font-size: 20px;
    font-weight: 700;
    color: var(--buttonColor);
}

.button.--view:hover{
    color: var(--headerBackground);
}